# Services that are required, but which may be run outside of containers as part of development, etc.  Starting container versions of these services is
# optional under those conditions.
#
# Image versions in this file are the current, stable, production-ready images, which may not correspond to "latest" or version-less image names.
services:
  api:
    image: ghcr.io/allenneuraldynamics/nmcp-api:3.0.3
    hostname: nmcp-api
    environment:
      NODE_ENV: production
      NMCP_CCF_30_ONTOLOGY_PATH: "${NMCP_ONTOLOGY_PATH}"
      NMCP_AUTH_REQUIRED: true
      NMCP_AUTHENTICATION_KEY: "${NMCP_AUTH_CLIENT_ID}"
      NMCP_AUTHENTICATION_CLIENT_ID: "${NMCP_AUTHENTICATION_CLIENT_ID}"
      NMCP_DATABASE_PW: "${NMCP_DATABASE_PW}"
    volumes:
      - "${NMCP_LOG_VOLUME}:/var/log/nmcp"
      - "${NMCP_ONTOLOGY_LOCATION}:${NMCP_ONTOLOGY_LOCATION}"
    ports:
      - "9671:5000"
    networks:
      - back_tier
    restart: unless-stopped

  client:
    image: ghcr.io/allenneuraldynamics/nmcp-client:3.0.6
    hostname: nmcp-client
    environment:
      NODE_ENV: production
      NMCP_API_HOST: nmcp-api
      NMCP_PRECOMPUTED_OUTPUT: "${NMCP_PRECOMPUTED_OUTPUT}"
    volumes:
      - "${NMCP_LOG_VOLUME}:/var/log/nmcp"
    ports:
      - "9693:5000"
    networks:
      - back_tier
    restart: unless-stopped

  export:
    image: ghcr.io/allenneuraldynamics/nmcp-export:3.0.0
    hostname: nmcp-export
    environment:
      NODE_ENV: production
      NMCP_AUTHENTICATION_KEY: "${NMCP_AUTH_CLIENT_ID}"
    volumes:
      - "${NMCP_LOG_VOLUME}:/var/log/nmcp"
    ports:
      - "9692:5000"
    networks:
      - back_tier
    restart: unless-stopped

  precomputed-worker:
    image: ghcr.io/allenneuraldynamics/nmcp-precomputed-worker:3.0.1
    hostname: precomputed-worker
    environment:
      GRAPHQL_URL: http://nmcp-api:5000/graphql
      SERVER_AUTHENTICATION_KEY: "${NMCP_AUTH_CLIENT_ID}"
      PRECOMPUTED_OUTPUT: "${NMCP_PRECOMPUTED_OUTPUT}"
    volumes:
      - "${NMCP_LOG_VOLUME}:/var/log/nmcp"
    networks:
      - back_tier
    restart: unless-stopped

  quality-api:
    image: ghcr.io/allenneuraldynamics/nmcp-qc:3.0.0
    hostname: quality-api
    ports:
      - "9694:5000"
    volumes:
      - "${NMCP_LOG_VOLUME}:/var/log/nmcp"
    networks:
      - back_tier
    restart: unless-stopped

volumes:
  log_output:

networks:
  back_tier:
